services:
  - type: web
    name: project-management-backend
    env: node
    region: singapore
    plan: free
    buildCommand: "npm install"
    startCommand: "node server.js"
    envVars:
      - key: NODE_VERSION
        value: 18
